<!--
File: valami.html
Author: Nagy János
Copyright: 2021, Nagy János
Group: Szoft V
Date: 2021-09-03
Github: https://github.com/janos/
Licenc: GNU GPL
-->
<!DOCTYPE HTML>
<html lang="hu">
<!-- ... -->
</html>
<h2>Trapéz területe</h2>
<form action="result.php" id="inputForm" method="get">
    <div>
        <label for="aSide" class="form-label">a oldal</label>
        <input type="text" id="aSide" name="aSide" placeholder="a" class="form-control">
    </div>

    <div>
        <label for="bSide" class="form-label">b oldal</label>
        <input type="text" id="bSide" name="bSide" placeholder="b" class="form-control">
    </div>

    <div>
        <label for="cSide" class="form-label">c oldal</label>
        <input type="text" id="cSide" name="cSide" placeholder="c" class="form-control">
    </div>

    <div>
        <label for="dSide" class="form-label">d oldal</label>
        <input type="text" id="dSide" name="dSide" placeholder="d" class="form-control">
    </div>

    <button type="submit" class="btn  btn-warning mt-3">Számít</button>



</form>